@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');

.antic-done-regular {
    font-family: "Antic Didone", serif;
    font-weight: 400;
    font-style: normal;
}

.header-container {
    height: 7rem;
    width: inherit;
    padding: 2em 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-container img {
    height: inherit;
    width: 6em;
}

#logo {
    height: inherit;
    width: inherit;
    padding-left: 0.2em;

    font-family: antic-done, serif;
    font-size: 100px;
    color: #090909;
}

#search-box {
    height: 40%;
    width: 40em;

    border: solid 3px #DEB86D;
    border-radius: 25px;

    margin-left: 5em;
}

#search-box img {
    height: 3em;
    width: 3em;

    color: #DEB86D;
}
